# COVID-19 Data Analysis (Beginner Project)

## Day 1: Project Setup & Dataset Overview

### Objective
- Load COVID-19 dataset
- Understand structure of data
- Identify important columns for analysis

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# basic settings
plt.style.use("default")

In [ ]:
df = pd.read_csv(
    r"C:\Users\RUCHI\Downloads\WHO-COVID-19-global-data.csv",
    sep=";",
    engine="python"
)

df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,05/01/2020,AF,Afghanistan,EMRO,NaN,0,NaN,0
1,12/01/2020,AF,Afghanistan,EMRO,NaN,0,NaN,0
2,19/01/2020,AF,Afghanistan,EMRO,NaN,0,NaN,0
3,26/01/2020,AF,Afghanistan,EMRO,NaN,0,NaN,0
4,02/02/2020,AF,Afghanistan,EMRO,NaN,0,NaN,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57358 entries, 0 to 57357
Data columns (total 1 columns):
 #   Column                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                 --------------  -----
 0   Date_reported;Country_code;Country;WHO_region;New_cases;Cumulative_cases;New_deaths;Cumulative_deaths  57358 non-null  object
dtypes: object(1)
memory usage: 448.2+ KB

In [ ]:
df.describe()

       Date_reported;Country_code;Country;WHO_region;New_cases;Cumulative_cases;New_deaths;Cumulative_deaths
count                                               57358
unique                                              57358
top             11/08/2024;ZW;Zimbabwe;AFRO;;266386;;5740
freq                                                    1